// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '../../public/css/bootstrap.css'; 
// @import '../../node_modules/bootstrap/scss/bootstrap.scss'; 


.sidebar-dark-success .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-success .nav-sidebar>.nav-item>.nav-link.active {
    background-color: red!important;
}

.btn-success{
    background-color: red!important;
}