:root {
 
  --bs-green: #198754!important; 
  --bs-success: #198754!important;
   
}

.sidebar-dark-success .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-success .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #198754!important;
}
.sidebar-dark-success .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-success .nav-sidebar>.nav-item>.nav-link.active:hover {
    background-color: #22a834!important;
}

.bg-success{
    background-color: #198754!important;
}
.btn-success{
    background-color: #198754!important;
}
.btn-success:hover{
    background-color: #22a834!important;
}

.page-item.active .page-link{
    
    background-color: #198754!important;
    color: #ffff!important;    
}
.page-item.active .page-link a{
    color: #ffff!important;    
}

.page-item.active .page-link:hover{
    background-color: #22a834!important;
}

.page-link:hover { 
    color: #0056b3; 
    background-color: #19875427;
    /* border-color: #dee2e6; */
}


[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link.active:hover{
    background-color: #4bd7123d!important;
    color: #0b8b28!important;
}

[class*=sidebar-light-] .nav-treeview>.nav-item>.nav-link {
    background-color: #0b8b2921!important;
    color: #0b8b28!important;
}

.breadcrumb-item a{
    color: #198754!important;
}

a:hover {
    /* background-color: #22a834!important; */
}

.card{
    border:1px solid #4bd7123d!important;
}

.card-footer{
    background-color:#4ad7120f!important;
}

.odd{
    background:#17e34626!important;
}

td{
    text-align:center
}
 
 a.page-link{
    color:#0b8b28!important;
 }
.next  a.page-link{
    color:#0b8b28!important;
}

 
.next  a.page-link:hover{
    color:#22a834!important;
}







.progress {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.progress i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: rotate(calc(45deg + calc(calc(360deg / var(--tlt-br-cnt)) * var(--i))));
}
.progress i::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: hsla(0, 0%,100%, 12%);;
  width: 5px;
  height: 20px;
  border-radius: 999rem;
  transform: rotate(-45deg);
  transform-origin: top;
  opacity: 0;
  animation: barCreationAnimation 100ms ease forwards;
  animation-delay: calc(var(--i) * 15ms);
}
.progress .selected-demo::after {
  background: hsl(130, 100%, 50%);
  box-shadow: 0 0 1px hsl(130, 100%, 50%),
              0 0 3px hsl(130, 100%, 30%),
              0 0 4px hsl(130, 100%, 10%);
}

.percent-text {
  font-size: 3rem;
  animation: barCreationAnimation 500ms ease forwards;
  animation-delay: calc(var(--tlt-br-cnt) * 15ms / 2);
}
.text-demo{
  color: hsl(130, 100%, 50%);
  text-shadow: 0 0 1px hsl(130, 100%, 50%),
                  0 0 3px hsl(130, 100%, 30%),
                  0 0 4px hsl(130, 100%, 10%);
  opacity: 0;
} 

